.myform{
	width: 50%;
    margin: auto;
    margin-top: 2%;
}


#routes-table_filter input{
  text-align: center;
}

#main-container{
  width: 60%;
  margin: auto;
  margin-top: 1%;
}

#routes-table{  
    width: 100%;  
    margin: auto;
    text-align: center;
}

thead th {
  text-align:center !important;
}
