* {margin:0;padding:0;} 

html, body {height: 100%;}

.wrap {min-height: 100%;}

.main {overflow:auto;
    padding-bottom: 50px;}  /* must be same height as the footer */

.footer {
    position: relative;
    margin-top: -50px; /* negative value of footer height */
    height: 50px;
    text-align: center;
    clear:both;
} 

.header .title{
    text-align: center;
    margin-top: -1.3em !important;
}

.header{
    width: 80%;
    height: 40px;
}

.logo-img{
    width: 7%;
    height: 100%;
}

.row{
  margin: 1em auto !important;
}