#route-name, #route-desc{
	margin: auto;
	text-align: center;
}

#map { 
	height: 35em;
	width: 85%;
	margin: auto;

	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);	
}
