<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Migradores - Visualizador</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery.dataTables.min.css">
</head>
<body>
    <div class="container">

        <div class="col-md-9" role="main">
            <div class="main">
                <img src="images/Logo1.png" alt="Logo de la aplicación" class="logo-img">
                <h1 class="title">Migradores de Datos - Visualizador de rutas</h1>

            </div>

            <div class="about-buses">
                <h2>Acerca del proyecto</h2>
                <p>
                    Plataforma tecnológica para proveer información en vivo para usuarios del transporte público en Costa Rica
                </p>

                <p>
                    El objetivo del proyecto es construir una plataforma tecnológica que le permita al ciudadano común utilizar su teléfono móvil para contestar las siguientes preguntas:
                </p>
                <ul class="list-unstyled">
                    <li>¿Cómo llego de la localidad A a la localidad B utilizando una combinación de tramos a pie, tramos en autobús y tramos en tren urbano?</li>
                    <li>¿Cuánto dinero me costará realizar dicho traslado?</li>
                    <li>¿Aproximadamente cuánto tiempo tardará este traslado en horas de bajo tránsito y en horas pico?</li>
                    <li> ¿Estoy en una parada particular, aproximadamente cuánto tiempo se tardará el próximo bus de una ruta particular en arribar?</li>
                </ul>
            </div>
            <div>
                <h2>Acerca del visualizador</h2>
                <p> El componente visualizador se encarga de trazar una ruta referente al recorrido realizado por un autobús de tranporte público.</p>
                <p> Las rutas son recuperadas de los servidores de datos abiertos del MOPT-CTP y almacenados en una base de datos del proyecto.</p>
                <p> Finalmente las rutas almacenadas en la base de datos que esten disponibles pueden ser extraidas y trazadas por este componente como también las paradas que se asocian a un recorrido.</p>
            </div>
            <p>

            </p>
            <div>
                <h2>Acerca de los desarrolladores</h2>
                <p>
                    El desarrollo se realiza para el curso de Proyecto de Ingeniería de Software de la carrera Ingenieria en Computación del
                    Instituto Tecnológico de Costa Rica.
                </p>

                <p>
                    El desarrollo fue relizado por dos estudiantes de la carrera.
                </p>
                <ul class="list-unstyled">
                    <li>Melvin Elizondo Pérez estudiante de la carrera</li>
                    <li>Daniel Solís Méndez estudiante de la carrera</li>
                    <li>Diego Munguía Molina profesor de la carrera como cliente del proyecto</li>
                    <li>María Estrada Sanchez profesora la carrera como profesora del curso</li>
                </ul>
            </div>
        </div>

    </div>
</body>

<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</html>