<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Migradores - Visualizador</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery.dataTables.min.css">
</head>
<body>

	<div class="wrap">
		<div class="main">
		    <section class="header row">
		        <img src="img/Logo1.png" alt="Logo de la aplicación" class="logo-img">
		        <h3 class="title">Route viewer - Data Migrators</h3>
		    </section>

		    <section id="main-container" class="row">
		        <table id="routes-table" class="table table-hover">
		        </table>
		    </section>
	    </div>
    </div>
    
    <section class="footer">
		ITCR project
    </section>

    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
    <script src="js/main.js"></script>
 

</body>
</html>