<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Migradores - Visualizador</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>

</head>
<body>
    <section class="header">
        <img src="img/Logo1.png" alt="Logo de la aplicación" class="logo-img">
    </section>

    <!--
	<div class="form-group has-feedback myform">
        <input type="text" class="form-control" id="search-txt" placeholder="Nombre del lugar"/>
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
    </div>
    -->

    <section id="main-container">
        <table id="routes-table" class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </section>

    
    <section class="footer">
		ITCR project
    </section>


    <script src="js/main.js"></script>
 

</body>
</html>