<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
	<link rel="stylesheet" href="css/leaflet.css" />
    <link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/map.css" />
</head>
<body>
    <section class="header">
    	<a href="index.html">
        	<img src="img/Logo2.png" alt="Logo de la aplicación" class="logo-img">
    	</a>
        <h2 id="route-name"></h2>
    </section>

   
	<section id="map-container">
			<div id="map"></div>
	</section>

    
    <section class="footer">
		ITCR project
    </section>    
    
	<script src="js/jquery.min.js"></script>
	<script src="js/leaflet.js"></script>
	<script src="js/map.js"></script>

</body>
</html>






